.card{
  margin:10px;
}
.cardBooks {
  background-color: #2e0f39;
  color: white;
}

.cardBooks * {
  color: inherit;
}

.cardBooks .card-title,
.cardBooks .card-text,
.cardBooks .card-footer .text-secondary {
  color: white;
}

.cardBooks button,
.cardBooks input,
.cardBooks select,
.cardBooks textarea {
  background-color: #2e0f39;
  color: white;
  border-color: white;
  
}

.cardBooks button:hover,
.cardBooks input:hover,
.cardBooks select:hover,
.cardBooks textarea:hover {
  background-color: #42175d;
  border-color: #42175d;
}

.cardBooks .btn-primary {
  background-color: #2e0f39;
  border-color: white;
}

.cardBooks .btn-primary:hover {
  background-color: #42175d;
  border-color: #42175d;
}

.cardBooks .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.cardBooks .btn-danger:hover {
  background-color: #c82333;
  border-color: #c82333;
}