.checkout-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-align: center;
}

.checkout-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.checkout-total {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Estilos para los botones de PayPal */
.paypal-buttons-container {
  margin-top: 20px;
}