.navbar {
  background-color: #2e0f39;
  color: white;
}

.nav-link {
  color: white;
}

.dropdown-menu {
  background-color: #2e0f39;
  color: white;
  border: none;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #42175d;
}

.form-control {
  background-color: #42175d;
  color: white;
  border: none;
}

.dropdown-toggle {
  color: white;
  background-color: #42175d;
  border: none;
}

.btn-primary {
  background-color: #42175d;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #5f2a87;
}

.badge.bg-primary {
  background-color: #42175d;
}

.alert-danger {
  background-color: #d32f2f;
  color: white;
  border-color: #b71c1c;
}
.navbar .badge.bg-primary {
  color: black;
}
.card-title,
.card-text {
  color: black;
}